venv/
instance/
.env
*.pyc



__pycache__/


*.db

uploads/

static/uploads/

static/profile_pics/

static/expense_images/

static/exports/
static/admin_profiles/
static.zip
templates.zip

backups/


uploads/
